<h1>Member List :</h1>
<button type="button" (click)="addMember();">Add Member</button>
<br><br>
<h4>{{displayMessage}}</h4>
<table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Salary</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>Detail</th>
    </tr>
    <tr *ngFor="let member of membersMock;let indexOfElement = index;">
        <td>{{member.firstname}}</td>
        <td>{{member.lastname}}</td>
        <td>{{member.salary}}</td>
        <td><a routerLink="/edit" [state]="{member:member,index:indexOfElement}">Edit</a></td>
        <td><a routerLink="#" (click)="deleteMember(member);">Delete</a></td>
        <td><a routerLink="/detail" [state]=member>Detail</a></td>
    </tr>
</table>